<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="icon" type="image" href="static/images/volna_favicon.ico">
  <title>Р-170П</title>

</head>
  
 <header class="blog-header py-3 border-bottom">
   <center>
    <h2>ИЗДЕЛИЕ Р-170П</h2>
    <br>
    <form method="POST">
      <input type="submit" class="btn btn-outline-primary" value="создать" accesskey="x">
    </form>
   </center>
 </header>
  
  
  
<body class="container">
  
  <div class="container border-bottom">
    
    
    <h5><i>Таблица 1</i></h5>    
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'0,775±0,070'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[1] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[1] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'2,5, не менее'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[2] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[2] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'2,7, не менее'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[3] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[3] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <p align="right">'0,1, не менее'</p>
      </div>
      <div class="col">
        <p align="center">{{ tab_1[4] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'0,25, не менее'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[5] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[5] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <p align="right">'0,35, не менее'</p>
      </div>
      <div class="col">
        <p align="center">{{ tab_1[6] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'плюс (10,0±2,5)'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[7] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[7] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'минус (0,6±0,5)'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[8] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[8] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <p align="right">'плюс (10,0±2,5)'</p>
      </div>
      <div class="col">
        <p align="center">{{ tab_1[9] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <p align="right">'минус (0,6±0,5)'</p>
      </div>
      <div class="col">
        <p align="center">{{ tab_1[10] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'плюс (20,0±5)'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[11] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[11] }}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6"> 
        <p align="right">'минус (20,0±5)'</p>
      </div>
      <div class="col">
        <p align="right">{{ tab_1[12] }}</p>
      </div>
      <div class="col">
        <p align="left">{{ tab_1[12] }}</p>
      </div>
    </div>
    
    
  </div>
  
  
  <div class="container border-bottom">
    
    <h5><i>Продолжение таблицы 1</i></h5>
    
      <div class="row">
        <div class="col">
          <p align="right">'+10±2,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[7] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">'ЭВ &nbsp &nbsp &nbsp +10±2,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[7] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">'-0,6±0,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[8] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">'-0,6±0,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[8] }}</p>
        </div>
      </div>
    
      <br>
    
      <div class="row">
        <div class="col">
          <p align="right">'+10±2,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[7] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">ЭВ1 &nbsp &nbsp &nbsp '-0,6±0,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[8] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">'+10±2,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[7] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">'-0,6±0,5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[8] }}</p>
        </div>
      </div>
    
      <br>
    
      <div class="row">
        <div class="col">
          <p align="right">'+20±5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[11] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">БПА &nbsp &nbsp &nbsp '+20±5'</p>
        </div>
        <div class="col">
          <p align="center">{{ tab_1[11] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">'-20±5'</p>
        </div>
        <div class="col">
          <p align="center"> - {{ tab_1[11] }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <p align="right">'-20±5'</p>
        </div>
        <div class="col">
          <p align="center"> - {{ tab_1[11] }}</p>
        </div>
      </div>
    
      <br>
    
      
    
      
    
      
    
      
    
      
  
    </div>  
    
    
  
  
  <br><br><br><br><br><br><br><br><br>
  
</body>  
  
  
  
<footer class="container">
  <center>
    <h6 class="float-right"><a href="#">Back to top</a></h6>
    <h6>© 2022 UARSA DEVELOPMENT</h6>
  </center>
</footer>  
  
  
  
</html>
